<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'HTML'"
        [showSubtitle]="false"
        [lazy]="true"
        [showUnits]="false"
        ></circle-progress> 
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'HTML'"
        [showSubtitle]="false"
        [lazy]="true"
        [showUnits]="false"
        ></circle-progress> 
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'HTML'"
        [showSubtitle]="false"
        [lazy]="true"
        [showUnits]="false"
        ></circle-progress> 
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'HTML'"
        [showSubtitle]="false"
        [lazy]="true"
        [showUnits]="false"
        ></circle-progress> 
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'HTML'"
        [showSubtitle]="false"
        [lazy]="true"
        [showUnits]="false"
        ></circle-progress> 
    </div>

    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'HTML'"
        [showSubtitle]="false"
        [lazy]="true"
        [showUnits]="false"
        ></circle-progress> 
    </div>
</div>

  <!-- Ejemplo de circulo con gradiente
      "backgroundGradient": true,
      "backgroundColor": "#ff00bb",
      "backgroundGradientStopColor": "#0011fa",
      "backgroundOpacity": "1",
      "backgroundStroke": "#ffffff",
      "backgroundStrokeWidth": "7",
      "backgroundPadding": "21",
      "radius": "101",
      "space": "1",
      "maxPercent": 200,
      "units": " Point",
      "unitsFontSize": "24",
      "unitsFontWeight": "400",
      "unitsColor": "#ffffff",
      "outerStrokeGradient": true,
      "outerStrokeWidth": "13",
      "outerStrokeColor": "#ff00bb",
      "outerStrokeGradientStopColor": "#ffffff",
      "innerStrokeColor": "#ffffff",
      "innerStrokeWidth": "9",
      "titleColor": "#ffffff",
      "titleFontSize": "56",
      "titleFontWeight": "400",
      "subtitleColor": "#ffffff",
      "subtitleFontWeight": "100",
      "imageHeight": "20",
      "animationDuration": "900",
      "showSubtitle": false,
      "showInnerStroke": false,
      "startFromZero": false,
      "lazy": true  -->