.row {
    padding: 20px;
}

div {
    background-color: white;
    text-align: center;
}


/*Estilo foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 20%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 400px;
    }
}

@media (max-width: 576px){
    #fotodeperfil {
        position: absolute;
        width: 25%;
        border-radius: 20%;
        box-shadow: 3px 3px 3px grey;
        left: 10%;
        top: 419px;
    }
}

/*Etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30px;
}