<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Primaria</h2> <h3> - </h3> <h4>(years)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit doloribus corrupti vitae laborum! Laudantium, voluptate blanditiis, perspiciatis impedit facilis iste ullam qui, magni illum molestiae quibusdam dolorum esse suscipit debitis.</p>
        </ul>

        <ul>
            <li><h2>Secundaria</h2> <h3> - </h3> <h4>(years)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit doloribus corrupti vitae laborum! Laudantium, voluptate blanditiis, perspiciatis impedit facilis iste ullam qui, magni illum molestiae quibusdam dolorum esse suscipit debitis.</p>
        </ul>

        <ul>
            <li><h2>Universidad</h2> <h3> - </h3> <h4>(years)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit doloribus corrupti vitae laborum! Laudantium, voluptate blanditiis, perspiciatis impedit facilis iste ullam qui, magni illum molestiae quibusdam dolorum esse suscipit debitis.</p>
        </ul>
    </div>
</div>
